body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.noprint {
  @media print {
    visibility: hidden;
  }
}

h3, p, input {
  margin-left: 50px;
  margin-left: 50px;
  margin-right: 5px;
  width: 80%;
}